<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heutcha | 흣챠</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.js"
      integrity="sha512-BgV3bZfMmUklIZI+dP0SILdmQ0RBY2gxegFFyfgo4Ui56WhKF4Pny9LsV/l96jxDDA+2w47zAXA4IyHo2UT/Qg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="heutcha-wrapper">
      <header class="heutcha-header">
        <h1 class="logo">Heutcha</h1>
        <input type="text" placeholder="영화 제목을 작성해주세요." />
        <button onclick="heutchaToggle()">추가하기</button>
      </header>
      <section class="padding-t"></section>
      <main class="heutcha-grid-wrapper"></main>
      <footer class="heucha-footer">
        <p>
          © 2023 by <span class="logo">Heutcha</span> Inc. All rights reserved.
        </p>
      </footer>
    </div>
    <section class="heutcha-toggle-layout">
      <div class="heutcha-toggle">
        <input
          type="text"
          id="movie-add"
          placeholder="네이버 영화 링크를 추가해주세요."
          class="naver-movie"
        />
        <div class="heucha-buttons">
          <button id="heutcha-add" onclick="posting()">추가하기</button>
          <button onclick="heutchaToggle()">취소</button>
        </div>
      </div>
    </section>
  </body>
  <script>
    $(document).ready(() => {
      movieGetReady();
    });
    const heutchaToggle = () => {
      $(".heutcha-toggle-layout").toggle();
    };

    const movieGetReady = () => {
      let index_html = "";
      $.ajax({
        type: "GET",
        url: "/movies",
        data: {},
        success: function (response) {
          response["movies"].map((movie) => {
            index_html += `
            <a href="/detail?id=${movie.m_id}" class="heutcha-grid">
          <img
            src="${movie.image}"
            alt="img"
          />
          <div class="text-flex">
            <h1>${movie.title}</h1>
            <span>${movie.director}</span>
            <span>평점 : ${movie.star}</span>
            <p>${movie.desc}</p>
          </div>
        </a>`;
          });
          $(".heutcha-grid-wrapper").append(index_html);
        },
      });
    };

    function posting() {
      let url = $("#movie-add").val();
      if (url !== "") {
        $.ajax({
          type: "POST",
          url: "/movies",
          data: { url_give: url },
          success: function (response) {
            window.location.reload();
          },
        });
      }
    }
  </script>
</html>
