<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heutcha | 흣챠</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="heutcha-wrapper">
      <header>
        <h1></h1>
        <input type="text" />
        <button></button>
      </header>
      <main class="heucha-grid-wrapper"></main>
      <footer class="heucha-footer">영화 추가하기</footer>
    </div>
  </body>
</html>
