<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heutcha | 흣챠</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="heutcha-wrapper">
      <header class="heutcha-header">
        <h1 class="logo">Heutcha</h1>
        <button id="prev">메인 화면으로</button>
      </header>
      <main class="heucha-grid-wrapper"></main>
      <footer class="heucha-footer">footer</footer>
    </div>
  </body>
  <script></script>
</html>
